<section class="container-fluid userPostsContainer">
  <div class="row justify-content-center userPosts">
    <a id="newPost" class="newPostBtn btn btn-primary" href="/new-post">Create A New Post</a>
    {{#if posts}}
    {{#each posts as |post|}}
      <div class="col-12">
        <div class="card border-primary mb-3" style="max-width: 90rem;">
          <div class="card-header dashHead"><a class="editPost" href="/edit-post/{{id}}">{{title}}</a></div>
          <div class="card-body">
            <p class="card-text">{{content}}</p>
            <p class="card-footer auth-time">Written By: <span class="username">{{post.user.username}}</span>
              {{format_date created_at}}
            </p>
          </div>
        </div>
    {{/each}}
    {{else}}
    <div class="col-12">
      <section id="noPostsCont">
        <p id="noPostsMsg">You haven't written any blog posts yet...</p>
      </section>
    </div>
    {{/if}}
  </div>
  <form id="deleteAcctFr">
  <input type="hidden" id="userId" name="userId" value="{{userId}}">
  <button type="sumbit" class="btn btn-primary deleteBtn" id="deleteAcctBtn">Delete Your Account</button>
  </form>
  <br>
  <p id="postsRem">( This will not remove any content that you are actively sharing )</p>
</section>

<script src="/js/delete-account.js"></script>