<section class="container-fluid userPostsContainer">
  <h2>{{username}}'s Dashboard</h2>
  <div class="row justify-content-center userPosts">
    <a id="newPost" class="newPostBtn btn btn-primary" href="/new-post">＋ Create A New Post</a>
    <span class="lineBrk"></span>
    {{#if posts}}
    <h3 id="yourPosts">Your Blog Posts</h3>
    {{#each posts as |post|}}
      <div class="col-12">
        <div class="card border-primary mb-3" style="max-width: 90rem;">
          <div class="card-header dashHead"><a class="editPost" href="/edit-post/{{id}}">{{title}}</a></div>
          <div class="card-body">
            <p class="card-text">{{content}}</p>
            <p class="dashDate card-footer auth-time">Posted on: {{format_date created_at}}</p>
            <div id="editBtnDiv">
            <a class="btn btn-primary editBtn" id="editBtn" href="/edit-post/{{id}}">✎ Edit</a>
            </div>
          </div>
        </div>
    {{/each}}
    {{else}}
    <div class="col-12">
      <section id="noPostsCont">
        <p id="noPostsMsg">You haven't written any blog posts yet...</p>
      </section>
    </div>
    {{/if}}
  </div>
  <span class="lineBrk"></span>
  <form id="deleteAcctFr">
  <input type="hidden" id="userId" name="userId" value="{{userId}}">
  <button type="sumbit" class="btn btn-primary deleteBtn" id="deleteAcctBtn">Delete Your Account</button>
  </form>
  <br>
  <p id="postsRem">( This will not remove any content that you are actively sharing )</p>
</section>

<script src="/js/delete-account.js"></script>