<section class="container-fluid userPostsContainer">
  <div class="row justify-content-md-center userPosts">
    {{#each posts as |post|}}
    <div class="col-12">
    <a class="editPost" href="/dashboard/edit/{{id}}"></a>
      <header>{{title}}</header>
      <p>{{content}}</p>
      <p class="auth-time">Written By:{{users.username}} {{format_date created_at}}</p>
      </a>
    </div>
    {{/each}}
  </div>
</section>