<section class="container-fluid homePgCont">
<div class="row justify-content-md-center postSnips">
<h1>Recent Posts</h1>
{{#each posts as |post|}}
<div class="col col-12 p-2 text-center">
  <a class="postSnip" href="/viewpost/{{id}}">{{title}}
  <p>{{content}}</p>
  <p class="auth-time">Written By:{{users.username}} {{format_date created_at}}</p>
  </a>
</div>
{{/each}}
</div>
</section>
